[submodule "upnp-scripts"]
	path = upnp-scripts
	url = https://github.com/viris/upnp-scripts
[submodule "Upnp-Exploiter"]
	path = Upnp-Exploiter
	url = https://github.com/dc414/Upnp-Exploiter
[submodule "UPnP-Pentest-Toolkit"]
	path = UPnP-Pentest-Toolkit
	url = https://github.com/nccgroup/UPnP-Pentest-Toolkit
[submodule "miranda-upnp"]
	path = miranda-upnp
	url = https://github.com/0x90/miranda-upnp
[submodule "ufuzz"]
	path = ufuzz
	url = https://github.com/phikshun/ufuzz
[submodule "UPnP-Inspector"]
	path = UPnP-Inspector
	url = https://github.com/coherence-project/UPnP-Inspector
[submodule "upnp_info"]
	path = upnp_info
	url = https://github.com/tenable/upnp_info
[submodule "upnpload"]
	path = upnpload
	url = https://github.com/caruccio/upnpload
[submodule "simpletr64"]
	path = simpletr64
	url = https://github.com/bpannier/simpletr64
[submodule "UPnP-Hack"]
	path = UPnP-Hack
	url = https://github.com/dhishan/UPnP-Hack
