[Desktop Entry]
Version=1.0
Categories=Development;
Icon=inspector
Exec=upnp-inspector
StartupNotify=false
Terminal=false
Type=Application
Name=UPnP Inspector
Comment= DLNA/UPnP device and service analyzer,control-point and test-tool
